<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net>
		<appender name="LogFileAppender"
                        type="log4net.Appender.RollingFileAppender" >
			<param name="File" value="C:\Temp\Log\log.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
				<conversionPattern value="%newline%date | %logger %-5level| >> %message" />
				
			</layout>
		</appender>

		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<param name="LogName" value="DbLoaderLog"/>
			<param name="ApplicationName" value="NamedPipesLibLog"/>
			<applicationName value="NamedPipesLiv"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%CC"/>
				<converter>
					<name value="CC"/>
					<type value="NamedPipesFullDuplex.logging.MessageConverter"/>
				</converter>
			</layout>
		</appender>

		<appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%CC"/>
				<converter>
					<name value="CC"/>
					<type value="NamedPipesFullDuplex.logging.ColoredMessageConverter"/>
				</converter>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="EventLogAppender"/>
			<appender-ref ref="ColoredConsoleAppender"/>
		</root>
	</log4net>
</configuration>